<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>LGO Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta property="og:url" content="https://lgono.de/" />
    <meta property="og:title" content="LGO Node" />
    <meta name="title" content="LGO Node" />
    <meta name="description" content="The LGO Transparency Module is an open source tool allowing anybody to browse the order batches created on the LGO platform." />
    <meta property="og:description" content="The LGO Transparency Module is an open source tool allowing anybody to browse the order batches created on the LGO platform." />
    <meta property="og:image" content="https://lgono.de/img/preview.png" />
    <meta property="og:type" content="website">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/pace-progress/css/pace.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/solid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/brands.min.css}"/>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <span class="navbar-brand" href="#">
        <a th:href="@{~/}"><img class="navbar-brand-full" th:src="@{/img/logo.png}" height="30" alt="LGO"/></a>&nbsp;&nbsp;LGO
    </span>
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a th:class="${activeTab == 'doc'}? 'nav-link active' : 'nav-link '" th:href="@{~/}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a th:class="${activeTab == 'batch'}? 'nav-link active' : 'nav-link '" th:href="@{~/batches}">Batches</a>
                </li>
                <li class="nav-item">
                    <a th:class="${activeTab == 'trade'}? 'nav-link active' : 'nav-link '" th:href="@{~/trades}">Trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dashboard.lgono.de" target="_blank">Dashboard</a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main">
        <div layout:fragment="breadcrumb"></div>
        <div class="container-fluid">
            <div style="margin-top:1.5em">
                <div layout:fragment="content">
                    <p>Content goes here...</p>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <div>LGO Node, source code available <a href="https://gitlab.com/lgo_public/lgo-node" target="_blank">here</a>. Made by <a href="http://lgo.group">LGO</a>.</div>
    </div>
</footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/coreui-2.1.9.min.js}"></script>
<span layout:fragment="javascript">
</span>
</body>
</html>
