<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:with="activeTab='batch'">
  <body>
    <th:block layout:fragment="content">
      <div class="card">
        <div class="card-header">Batches</div>
        <div class="card-body">
          <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Hash</th>
              <th>Order count</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="batch: ${batches}">
              <td class="td-md">
                <a th:href="@{~/batches/{batchId}(batchId=${batch.id})}"class="td-md td-nowrap"><span th:text="${batch.id}" class="td-content"></span></a>
              </td>
              <td class="td-md">
                <span th:text="${batch.hash}" class="td-content">hash</span>
              </td>
              <td class="td-md">
                <span th:text="${batch.orderCount}" class="td-content">orderCount</span>
              </td>
            </tr>
          </tbody>
        </table>
          <ul class="pagination">
            <li th:if="${prevPage == 0}" class="page-item disabled">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li th:unless="${prevPage == 0}" class="page-item">
              <a class="page-link" th:href="@{~/batches(page=${prevPage})}">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">
                <span th:text="${currentPage}"></span>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" th:href="@{~/batches(page=${nextPage})}">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </th:block>
  </body>
</html>
