<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:with="activeTab='doc'">
  <body>
    <th:block layout:fragment="content">
      <div class="card">
        <div class="card-header">Introduction</div>
        <div class="card-body">
          <p>Welcome to the LGO Node.</p>
          <p>This <a href="https://gitlab.com/lgo_public/lgo-node" target="_blank">open source</a> tool allows you to browse the order batches created on LGO platform.</p>
          <p>It uses data published by LGO and its Certification Authority to decrypt and validate the trading activity.</p>
          <p><a th:href="@{/batches}">Browse batches</a></p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Documentation</div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="documentationTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="batching-tab" data-toggle="tab" href="#batching" role="tab" aria-controls="home" aria-selected="true">Batching</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Platform configuration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Platform in details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="fairness-tab" data-toggle="tab" href="#fairness" role="tab" aria-controls="fairness" aria-selected="false">Verify our fairness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
            </li>
          </ul>
          <div class="tab-content" id="documentationTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
              <span th:utext="${overview}"></span>
              <img th:src="@{/img/basics.png}">
            </div>
            <div class="tab-pane fade" id="batching" role="tabpanel" aria-labelledby="details-tab">
              <span th:utext="${batching}"></span>
              <img th:src="@{/img/batching.png}">
            </div>
            <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">
              <span th:utext="${config}"></span>
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
              <span th:utext="${details}"></span>
            </div>
            <div class="tab-pane fade" id="fairness" role="tabpanel" aria-labelledby="fairness-tab">
              <span th:utext="${fairness}"></span>
            </div>
            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
              <span th:utext="${faq}"></span>
            </div>
          </div>
        </div>
      </div>
    </th:block>


    <th:block layout:fragment="javascript">
      <script  type="application/javascript">
        $('#documentationTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
      </script>
    </th:block>
  </body>
</html>
