<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="book(product,orderbook)" id="book">
    <div class="card-body" th:if="${orderbook.isEmpty()}">
        Empty <span th:text="${product}">product</span> order book.
    </div>
    <div class="card-body" th:unless="${orderbook.isEmpty()}">
        <div th:if="${product == 'tLGO1-tLGO2'}" class="alert alert-warning">
            This product is a test product used by LGO technical team as a health check.
        </div>
        <table class="table table-responsive-sm table-striped">
            <thead>
            <tr>
                <th>Count</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="line: ${orderbook}" th:class="${line.side.equals('sell')? 'table-danger' : 'table-success'}">
                <td class="td-md">
                    <span th:text="${line.count}" class="td-content"></span>
                </td>
                <td class="td-md">
                    <span th:text="${line.quantity}" class="td-content"></span>
                </td>
                <td class="td-md">
                    <span th:text="${line.price}" class="td-content"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>